@inherits LayoutComponentBase
@inject LanguageService Lang
@implements IDisposable

<NavMenu />

<main class="main-content">
    @Body
</main>

<footer class="site-footer">
    <div class="container">
        @Lang.T("footer.text") <br />&copy; @DateTime.Now.Year
    </div>
</footer>

@code {
    protected override void OnInitialized() => Lang.OnLanguageChanged += StateHasChanged;
    public void Dispose() => Lang.OnLanguageChanged -= StateHasChanged;
}
