@inherits LayoutComponentBase

<NavMenu />

<main class="main-content">
    @Body
</main>

<footer class="site-footer">
    <div class="container">
        Made by me ! ヾ(⌐■_■)ノ <br>&copy; @DateTime.Now.Year
    </div>
</footer>
